<h2>About the Author</h2>
<p>
  James Smith, British entrepreneur and developer based in San Francisco.
</p>
<p>
  I'm the co-founder of <a href="https://bugsnag.com">Bugsnag</a> with 
  <a href="http://snmaynard.com">Simon Maynard</a>, and from 2009 to 2012
  I led up the product team as CTO of <a href="http://www.heyzap.com">Heyzap</a>.
</p>
<p class="social-grill">
  <a href="https://twitter.com/loopj" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @loopj</a>
</p>